# Docker #
**/*Dockerfile*
**/*compose.y*ml

# Ignore #
**/*ignore

# ReadMe #
**/*README*

# Git #
**/.git

# Environments #
**/venv

# MakeFile #
**/*Makefile*

# PyCharm #
**/.idea

# Init #
**/init

# Shell #
**/*.sh